<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

<!-- 
	This is the main configuration file for the spring framework as used by WhiteCat.
	The convention is that each configurable bean should be identified by its class
	simple name, so that you can get an instance using the bean getClass().getSimpleName().
 -->


	<!-- the default agent proxy to use -->
	<bean id="AgentProxy" class="whitecat.core.agents.LocalAgentProxy"
		scope="prototype">
   	</bean>
   	
   	
   	<!-- the default role task implementation -->
	<bean id="IRoleTask" class="whitecat.core.role.task.MethodTaskExecutor"
		scope="prototype">
   	</bean>
   	
   	

	<!-- the default proxy handler to use -->
   	<bean id="IProxyHandler"
   		class="whitecat.core.agents.LocalProxyHandler" scope="prototype">
   	</bean>

   	<!-- the default method forwarder generator -->
   	<bean id="IMethodForwarderGenerator"
   		class="whitecat.core.agents.LocalForwarderMethodGenerator"
   		scope="prototype">
   	</bean>

   	<!-- the default role booster, the only to use, but with initialized parameters -->
   	<bean id="IRoleBooster" class="whitecat.core.RoleBooster"
   		scope="prototype">

		<property name="currentRoleOperation" ref="IRoleOperation"></property>
   	</bean>
   	
   	<!-- the proxy storage for the running configuration -->
   	<bean id="IProxyStorage" class="whitecat.core.ProxyStorage" scope="singleton" factory-method="getInstance" >
   	</bean>

   	<bean id="IRoleOperation" class="RoleOpeationImpl"
   		scope="prototype">
   		<property name="agentProxyHandler" ref="IProxyHandler"></property>
   		<property name="methodForwarderGenerator"
   			ref="IMethodForwarderGenerator">
   		</property>
   	</bean>
   	<bean id="IRoleRepository"
   		class="whitecat.core.role.impl.RoleRepositoryImpl"
   		scope="singleton">
   	</bean>
</beans>
